{% extends "base.html" %}

{% block body %}

  <div class="notearea">

  {% for note in notes %}
  <a href=/note?key={{note.key()}} class='title'>{{note.title}}</a> 

  {% for key in note.fragments[:2] %}
    {{frag = note.fragments_cache[key]}}
    <p>
    <span class='fragment'>{{frag.body[:100]}}{{'...' if len(frag.body) > 100 else ''}}</span>
    <span class='timestamp_small'>{{note.fragments_cache[key].mtime.strftime(date_format)}}</span>
    </p>
  {% end %}
  
  <span class='timestamp'>
    {{note.mtime.strftime(date_format)}}
  </span>

  <a href=/compose?key={{note.key()}} class='ops'>编辑</a> 
  <a href=/delete?key={{note.key()}} class='ops'> 删除</a> 
  <br><br>
  {% end %}
  </div>

{% end %}
