{% extends "base.html" %}

{% block body %}

  {% for note in notes %}
  <p>
  <a href=/note?key={{note.key()}} class='title'>{{note.title}}</a> 

  {% for key in note.fragments[:3] %}
    <pre class='fragment'>
        {{note.fragments_cache[key].body}}
    </pre>
    <span class='timestamp_small'>
        {{note.fragments_cache[key].mtime.strftime(date_format)}}
    </span>
  {% end %}
  
  <span class='timestamp'>
    {{note.mtime.strftime(date_format)}}
  </span>

  <a href=/compose?key={{note.key()}} class='ops'>Edit</a> 
  <a href=/delete?key={{note.key()}} class='ops'> X </a> 
  </p>
  <br><br>
  {% end %}

{% end %}
