
{% extends "base.html"%}

{% block body %}

  <p>
  <a href=/note?key={{note.key()}} class='title'>{{note.title}}</a> 

 <form action="/compose" method="post" class="compose">
     <div style="margin-bottom:5px">
         <textarea name="body" rows="4" cols="40"></textarea></div>
    <div>
        <input type="submit" value="{{_("Append")}}" class="submit"/>
    </div>
    
    {% if note %}
      <input type="hidden" name="key" value="{{str(note.key())}}"/>
      <input type="hidden" name="title" value="{{note.title}}"/>
      <input type="hidden" name="append" value="true"/>
    {% end %}
    
    {{ xsrf_form_html() }}
  </form>

  <div class="notearea">

  {% for key in note.fragments %}
  {{frag = note.fragments_cache[key]}}
    <p>
    <div class='fragment' style="display: inline"><span class='dblclick' id={{key}}>{{frag.body}}</span> <span class='timestamp_small'>{{note.fragments_cache[key].mtime.strftime(date_format)}}</span></div>
    </p>
  {% end %}

 </div>

  <span class='timestamp'>
    {{note.mtime.strftime(date_format)}}
  </span>

  <a href=/compose?key={{note.key()}} class='ops'>Edit</a> 
  <a href=/delete?key={{note.key()}} class='ops'> X </a> 
  </p>
 
{% end %}
